.menu-bar{
  margin: 5px;
}
.item-card{
  overflow: hidden;
  border-radius: 10px;
}
.card-image{

}
.bread-crumb{
  margin: 20px;
}
.project-content{
  height: 100%;
  padding: 10px;
  background-color: #f2f4f5;
}
